body{
  font-family: cursive;
}

.mr-20 {
  margin-right: 20px;
}

.mt-5 {
  margin-top: 10px;
}

.p-10 {
  padding: 10px;
}

.text-right {
  text-align: right;
}

a:focus {
  color: black;
  font-weight: bold;
}

.bg-gray {
  background-color: gray;
}

.buttons {
  grid-template-rows: repeat(5, 50px);
  grid-template-columns: repeat(4, 80px);
  gap: 1px;
}

button {
  border: none;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}

#zero-button {
  grid-column: 1/3;
}
