.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.text-right {
  text-align: right;
}

.bg-gray {
  background-color: gray;
}

.buttons {
  grid-template-rows: repeat(5, 50px);
  grid-template-columns: repeat(4, 80px);
  gap: 1px;
}

button {
  border: none;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}

#zero-button {
  grid-column: 1/3;
}
