.App
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.text-right {
  text-align: right;
}

.bg-gray {
  background-color: gray;
}

input:focus, button:focus, textarea:focus{
  outline: none;
}

.buttons
{
  grid-template-rows: repeat(5, 50px);
  grid-template-columns: repeat(4, 80px);
  gap: 1px;
}

#zero-button
{
  grid-column: 1/3;
}
button {
  border: none;
}